<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui header huge">Edit Client Payment Plan</div>
    <form class="ui form" action="/clients/<%= client._id %>/plans/<%= plan._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Total Amount</label>
            <input type="text" name="plan[totalAmt]" value= "<%= plan.totalAmt %>" required>
        </div>
        <div class="field">
            <label>Current Amount Due</label>
            <input type="text" name="plan[amtDue]" value= "<%= plan.amtDue %>" required>
        </div>
        <div class="field">
            <label>Payment Due Date</label>
            <input type="date" name="plan[dueDate]" value= "<%= plan.dueDate %>" required>
        </div>
        <div class="field">
            <label>Total # of payments till paid off</label>
            <input type="text" name="plan[totalPmts]" value= "<%= plan.totalPmts %>" required>
        </div>
        <button class="ui button grey large" type="submit">Submit!</button>
        <a class="ui button basic" href="/clients/<%= client._id %>/plan">Go back</a>
    </form>
</div>

<% include ../partials/footer %>